*{
    margin: 0;
    padding: 0;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-size: clamp(15px, 1vw, 2vw);
    box-sizing: border-box;
    transition: all 0.2s ease;
}
body{
    background-image: url('/images/bgoriginal.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.bgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
}
/* REPETITIVE STYLINGS */
.center{
    text-align: center;
}
.fontsmall{
    font-size: clamp(12px, 0.8vw, 3rem);
}
.white65{
    color: rgba(255, 255, 255, 0.65);
}
.green{
    color: #41CCB1;
}
.red{
    color: #AC3434;
}
.font600{
    font-weight: 600;
}
.font700{
    font-weight: 700;
}
.flexgap{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.flexgapsmall{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: max-content; /* changed from vw width to max-content*/
    margin: auto;
}
/* HEADER STYLING */
header{
    display: flex;
    justify-content: space-between;
    text-shadow: 0px 0px 88px rgba(255, 255, 255, 0.15);
    margin: auto;
    align-items: flex-end;
}
header h1{
    font-size: 30px;
    font-size: clamp(2vh, 3rem, 2vw);
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
.headerimage{
    width: clamp(2rem, 3rem, 5rem);
}
.headerheading{
    font-size: clamp(16px, 1.1rem, 3rem);
}
/* MAIN SECTION */
main{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    position: relative;
}
.parkcontainer{
    position: relative;
}
.park{
    text-align: center;
    padding: clamp(7px, 0.5vw, 25px);
    border-radius: 18px;
    height: clamp(150px, 35vh, 2000px);
    /* width: clamp(15vw, 240px, 20vh); */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    aspect-ratio: 240/310;
}
.parkfree{
    background: rgba(255, 255, 255, 0.01);
    border: 2px solid rgba(255, 255, 255, 0.05);
}
.parkfree:hover{
    background: rgba(255, 255, 255, 0.04);
    border: 2px solid rgba(255, 255, 255, 0.15);
}
.parkselected{
    border: 2px solid rgba(0, 217, 178, 0.05);
    background: rgba(0, 217, 178, 0.15);
}
.parkselected:hover{
    background: rgba(0, 217, 178, 0.25);
}
.parkselected button{
    position: absolute;
    bottom: 0.5rem;
    font-weight: 700;
    color: #3F2610;
    font-size: clamp(14px, 0.8rem, 2rem);
    display: flex;
    align-items: center;
    padding: 0px 0.5vw 0 0.2vw;
    border: none;
    border-radius: 12px;
    background: rgba(255, 201, 62, 0.9);
}
.parkselected button img{
    width: clamp(2rem, 3rem, 2vw);
}
.parkoccupied{
    background: rgba(172, 52, 52, 0.08);
    border: 2px solid rgba(172, 52, 52, 0.25);
}
.parkoccupied:hover{
    background: rgba(172, 52, 52, 0.15);
    border: 2px solid rgba(172, 52, 52, 0.45);
}
.dash{
    width: 50%;
    margin: 0 auto 5px auto;
    height: 5px;
    border-radius: 2px;
}
.parkfree .dash{
    background: rgba(255, 255, 255, 0.11);
}
.parkselected .dash{
    background: rgba(0, 217, 178, 0.35);
}
.parkoccupied .dash{
    background: rgba(172, 52, 52, 0.25);
}
.inner{
    flex: 1;
    border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}
.icons{
    width: clamp(1.2rem, 1vw, 2vw);
}
.parkfree .inner{
    background: rgba(255, 255, 255, 0.02);
}
.parkfree:hover .inner{
    background: rgba(255, 255, 255, 0.08);
}
.parkselected .inner{
    background-image: url(/images/pattern-green.svg), url(/images/green-dashed.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parkselected:hover .inner{
    background-image: url(/images/pattern-green-hover.svg), url(/images/green-dashed.svg);
}
.parkoccupied .inner{
    border: 2px solid rgba(172, 52, 52, 0.05);
    background-image: url(/images/pattern-red.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.parkoccupied:hover .inner{
    background-image: url(/images/pattern-red-hover.svg);
}
.id{
    padding: 0.7vh 0.7vw;
    font-weight: 700;
    line-height: 103%;
    text-align: center;
    letter-spacing: 0.12em;
    width: max-content;
    margin: auto;
    border-radius: 0 0px 5px 5px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    text-shadow: 0px 0px 88px rgba(255, 255, 255, 0.15);
}
.parkfree .id{
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.65);
}
.parkselected .id{
    background: #41CCB1;
    color: #0B463B;
}
.parkoccupied .id{
    background-color: #2B0D0B;
    color: rgba(172, 52, 52, 0.65);
}
.leftbtn , .rightbtn{
    border: 3px solid black;
    border-radius: 11px;
    background-color: white;
    padding: 0.3vw 0.5vw;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.leftbtn img, .rightbtn img{
    width: clamp(0.5rem, 8px, 12px);
}
.leftbtn{
    position: absolute;
    left: -5%;
    top: 50%;
    transform: translateY(-50%);
}
.rightbtn{
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
}
.page{
    position: relative;
}
.escape{
    position: absolute;
    right: 5vw;
    bottom: clamp(1rem, 1.5vh, 3rem);
}
.esc{
    padding: 0.2vw 0.5vw;
    box-shadow: -4px 0px 14px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    border: none;
}

@media screen and (min-width: 1300px) {
    main{
        gap: 1.5rem;
    }
    .park{
        padding: 1rem;
    }
}

@media screen and (min-width:2400px) {
    .leftbtn , .rightbtn{
        font-size: larger;
    }
}